.headline-border {
  border: 2px solid red;
  width: 20%;
}

.bg {
  height: 500px;
  background-size: cover;
}


@media (min-width: 768px) {
  .bg {
    font-size: 250px;
  }
}

.bg-cover {
  width: 100%;
  height: 100vw;
}

@media (min-width: 992px) {
  .bg-cover {
    height: 50vw;
  }
}

.mv-text {
  position: absolute;
  width: 100%;
  top: calc(50% - 25px);
  text-align: center;
  left: 0;
  font-weight: bold;
}

@media (min-width: 992px) {
  .mv-text {
    position: absolute;
    width: 100%;
    top: calc(50% - 25px);
    left: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }
}

.header-logo {
  margin-left: 20px;
  float: left;
}
.text-black {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 17px;
}

.header-list {
  margin-left: 60px;
}


.d-inline-block {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 15px;
}

a.d-inline-block {
  text-decoration: none;
}

.lead {
  font-size: 35px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1.2em;
  text-decoration: none;
  color: #030303;
  border: solid 1px white;
  transition: .8s;
  border-style: dotted;
  background-image: linear-gradient(45deg, #eeeded 0%, #ffffff 100%);
}

.btn-flat-border:hover {
  background: white(252, 251, 251);
  color: rgb(252, 252, 252);
  background-image: linear-gradient(45deg, #eeeded 0%, #ffffff 100%);
}

.text-right {
  float: right;
  padding-right: 5px;
}
